bandit==1.6.0
dj-database-url==0.5.0
Django==2.2.2
django-colorfield==0.1.15
django-filer==1.5.0
django-js-asset==1.2.2
django-mptt==0.10.0
django-polymorphic==2.0.3
djangocms-installer==1.1.0
easy-thumbnails==2.6
gitdb2==2.0.5
GitPython==2.1.11
mccabe==0.6.1
pbr==5.2.1
Pillow==6.0.0
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.1
pylama==7.7.1
pytz==2019.1
PyYAML==5.1.1
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
sqlparse==0.3.0
stevedore==1.30.1
tzlocal==1.5.1
Unidecode==1.0.23
yapf==0.27.0
