{% load favicon sekizai_tags %}

{% addtoblock "head" %}
<link rel="shortcut icon" href="{% icon instance.icon 16x16 %}" type="image/ico">
<link rel="icon" href="{% icon instance.icon 16x16 %}" type="image/png">
<link rel="icon" sizes="32x32" href="{% icon instance.icon 32x32 %}" type="image/png">
<link rel="icon" sizes="64x64" href="{% icon instance.icon 64x64 %}" type="image/png">
<link rel="icon" sizes="96x96" href="{% icon instance.icon 96x96 %}" type="image/png">
<link rel="icon" sizes="196x196" href="{% icon instance.icon 196x196 %}" type="image/png">
<link rel="apple-touch-icon" sizes="152x152" href="{% icon instance.icon 152x152 %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% icon instance.icon 60x60 %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% icon instance.icon 76x76 %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% icon instance.icon 114x114 %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% icon instance.icon 120x120 %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% icon instance.icon 144x144 %}">
<meta name="msapplication-TileImage" content="{% icon instance.icon 144x144 %}">
<meta name="msapplication-TileColor" content="{{ instance.color }}">
{% endaddtoblock %}